openapi: 3.1.0
info:
  title: ZROKY Onboarding Synthetic Failure API
  version: 1.0.0
  description: |
    Contract for safe onboarding test-failure generation.

    Safety guarantees:
    - No external provider call is executed.
    - No developer production API credit is consumed.
    - Generated records are tagged synthetic and excluded from billing analytics.
servers:
  - url: https://api.zroky.ai
paths:
  /api/v1/onboarding/trigger-test-failure:
    post:
      summary: Create a synthetic onboarding failure
      operationId: triggerOnboardingTestFailure
      description: |
        Generates one synthetic failed call and one diagnosis for first-value onboarding.
        Intended to trigger a reliable first diagnosis experience within 10 minutes.
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TriggerTestFailureRequest'
            examples:
              tokenOverflowDemo:
                value:
                  project_id: proj_123
                  scenario: token_overflow_demo
                  synthetic_user_id: onboarding_demo_user
                  idempotency_key: iv-01-ha-moment
      responses:
        '201':
          description: Synthetic failure created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TriggerTestFailureResponse'
              examples:
                created:
                  value:
                    synthetic_event_id: syn_evt_9f12
                    synthetic: true
                    scenario: token_overflow_demo
                    call:
                      id: call_syn_1001
                      status: failed
                      call_type: chat
                      error_code: context_length_exceeded
                      trace_id: tr_syn_001
                      agent_name: onboarding-agent
                    diagnosis:
                      id: diag_syn_1001
                      category: TOKEN_OVERFLOW
                      confidence: 0.98
                      root_cause: System prompt 892 tokens, user 2847, overflow 357 vs 4096
                      fix:
                        primary: Validate and truncate user input
                        code: |
                          if count_tokens(user_msg) > 2000:
                              user_msg = truncate(user_msg, 2000)
                        alternative: Use larger context model
                      evidence:
                        prompt_tokens: 3739
                        model_limit: 4096
                        overflow_by: 357
                    safety:
                      external_provider_called: false
                      developer_api_credits_consumed: false
                    analytics:
                      excluded_from_billing: true
        '400':
          description: Invalid request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden for this project
        '409':
          description: Duplicate idempotency key
        '429':
          description: Rate limited
        '500':
          description: Internal server error
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    TriggerTestFailureRequest:
      type: object
      additionalProperties: false
      required:
        - project_id
        - scenario
      properties:
        project_id:
          type: string
          minLength: 3
          description: Target project identifier.
        scenario:
          type: string
          enum:
            - token_overflow_demo
          description: Synthetic scenario type for onboarding.
        synthetic_user_id:
          type: string
          default: onboarding_demo_user
          description: Optional synthetic user identifier.
        idempotency_key:
          type: string
          minLength: 8
          description: Prevents duplicate synthetic events from retries.
    TriggerTestFailureResponse:
      type: object
      required:
        - synthetic_event_id
        - synthetic
        - scenario
        - call
        - diagnosis
        - safety
        - analytics
      properties:
        synthetic_event_id:
          type: string
        synthetic:
          type: boolean
          const: true
        scenario:
          type: string
        call:
          type: object
          required:
            - id
            - status
            - call_type
            - error_code
            - trace_id
            - agent_name
          properties:
            id:
              type: string
            status:
              type: string
              enum: [failed]
            call_type:
              type: string
              enum: [chat]
            error_code:
              type: string
            trace_id:
              type: string
            agent_name:
              type: string
        diagnosis:
          type: object
          required:
            - id
            - category
            - confidence
            - root_cause
            - fix
            - evidence
          properties:
            id:
              type: string
            category:
              type: string
              enum: [TOKEN_OVERFLOW]
            confidence:
              type: number
              minimum: 0
              maximum: 1
            root_cause:
              type: string
            fix:
              type: object
              required:
                - primary
                - code
                - alternative
              properties:
                primary:
                  type: string
                code:
                  type: string
                alternative:
                  type: string
            evidence:
              type: object
              additionalProperties: true
        safety:
          type: object
          required:
            - external_provider_called
            - developer_api_credits_consumed
          properties:
            external_provider_called:
              type: boolean
              const: false
            developer_api_credits_consumed:
              type: boolean
              const: false
        analytics:
          type: object
          required:
            - excluded_from_billing
          properties:
            excluded_from_billing:
              type: boolean
              const: true
